/* Resets and utility classes */
*{
	margin: 0;
	padding: 0;
}
* svg{
	background: none;
	outline: none;
}
html{
	color: #262626;
	background-color: #EEF0F4;
	font-family: Verdana;
}
:root{
	--header-footer-bg: #334Fe4;
	--header-height: 65px;
}
.react-icons {
	vertical-align: middle;
	display: inline-block;
}
.wrap{
	width: 80%;
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
	height: 100%;
}
/* Main */
main{
	margin: 100px 0;
	min-height: calc(100vh - (var(--header-height) + 74px) );
}
a, button{
	transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}