*{
	margin: 0;
	padding: 0;
}
.react-icons {
	vertical-align: middle;
	display: inline-block;
}
header{
	width: 100%;
	background: rgba(50, 83, 232);
	height: 65px;
	position: fixed;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	color: white;
	top: 0;
}
header .wrap{
	height: 100%;
}
header .cart-link{
	position: relative;
}
.cart-link sup{
	width: 18px;
	position: absolute;
	background: red;
	height: 18px;
	overflow: hidden;
	border-radius: 50%;
	line-height: 17px;
	font-size: 13px;
	text-align: center;
	right: -15px;
}
.wrap{
	width: 80%;
	max-width: 1140px;
	margin: 0 auto;
	position: relative;
}
main{
	margin-top: 100px
}
