
/* Header */
header{
	width: 100%;
	background: var(--header-footer-bg);
	height: 65px;
	position: fixed;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	color: white;
  top: 0;
  
  .cart-link{
    position: relative;

    sup{
      width: 18px;
      position: absolute;
      background: red;
      height: 18px;
      overflow: hidden;
      border-radius: 50%;
      line-height: 17px;
      font-size: 13px;
      text-align: center;
      right: -15px;
    }
  }
}
